.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.25em 0.5em;
  font-size: 0.875rem;
  font-weight: 900;
  color: var(--colors-neutral-700);
  background-color: transparent;
  border-radius: 0.25rem;
  border: 2px solid var(--colors-neutral-300);
  transition: all ease 0.1s;

  &:not(:disabled) {
    color: white;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: var(--colors-neutral-400);
    }

    &:active {
      background-color: var(--colors-neutral-100);
    }
  }

  & svg {
    transition: all ease 0.1s;
  }
}

.title {
  margin-left: 0.25em;
}
