.wrapper {
  position: relative;

  --border-color: transparent;

  &.available::before {
    --border-color: rgb(64 191 64 / 80%);
  }

  &.max::before {
    --border-color: rgb(255 209 0 / 80%);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color, transparent);
    border-radius: 0.25rem;
    pointer-events: none;
  }
}
