.wrapper {
  position: relative;
  line-height: 0;

  &.available,
  &.available::before {
    --color: rgb(64 191 64 / 80%);
  }

  &.max,
  &.max::before {
    --color: rgb(255 209 0 / 80%);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color, transparent);
    border-radius: 0.25rem;
    pointer-events: none;
  }

  /** without this tooltips not work on disabled talents */
  &:not(.available)::before {
    pointer-events: all;
  }
}

.value {
  position: absolute;
  z-index: 2;
  bottom: -5px;
  right: -5px;
  padding: 0.25em;
  font-size: 0.6875rem;
  color: var(--color, --colors-neutral-600);
  line-height: 1;
  background-color: var(--colors-black);
  border-radius: 0.25em;
  pointer-events: none;
  transition: color 0.1s ease;

  &::selection {
    background-color: transparent;
  }
}
