.wrapper {
  display: flex;
  gap: 0.625rem;
  padding: 0.375rem 0.75rem;
  background: #000;
  color: #ccc;
  font-size: 1.125rem;
  font-weight: 700;
  transition: color 0.1s ease;

  &.highlight {
    color: #fff;
  }
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  margin: 0;
  text-transform: capitalize;
}

.count {
  margin-left: auto;
}
