.wrapper {
  display: flex;
  align-items: center;
  margin-top: 1em;
  padding: 0.375rem 0.75rem;
  color: var(--colors-neutral-700);
  background-color: var(--colors-neutral-100);
  border-radius: 0.375rem;

  @media screen and (max-width: 499px) {
    flex-direction: column;
  }
}

.class {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: capitalize;
}

.state {
  margin-left: 0.5rem;
  margin-right: auto;

  @media screen and (max-width: 499px) {
    margin: 0 0 0.5em;
  }
}

.property {
  margin-left: 1rem;
  font-size: 0.875rem;

  @media screen and (max-width: 499px) {
    margin: 0;
  }

  & strong {
    color: var(--colors-white);
  }
}

.bold {
  color: var(--colors-white);
  font-weight: 700;
  transition: 0.2s color ease;
}
