.wrapper {
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  padding: 0;
  line-height: .5;
  border: 0;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.active {
    border-color: red;
  }

  &.withBackground {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}