.wrapper {
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  padding: 0;
  line-height: 0.5;
  border: 0;
  position: relative;
  color: white;
  font-weight: 900;
  text-shadow: 0 0 3px rgb(0 0 0 / 100%);

  &:active::after,
  &.dimmed {
    filter: brightness(0.5);
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover::after,
    &:focus-visible::after,
    &.selected::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      pointer-events: none;
      width: 100%;
      height: 100%;
      background-size: 40px;
      background-repeat: no-repeat;
      background-image: url("https://wow.zamimg.com/images/Icon/large/hilite/default.png");
    }
  }

  &:disabled {
    filter: grayscale(100%);
  }

  &.withBackground {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, 38px;
  }
}
