:root {
  --colors-white: #fff;
  --colors-black: #000;
  --colors-neutral-100: #101010;
  --colors-neutral-200: #222;
  --colors-neutral-300: #404040;
  --colors-neutral-400: #555;
  --colors-neutral-500: #676767;
  --colors-neutral-600: #787878;
  --colors-neutral-700: #9d9d9d;
  --colors-neutral-800: #ccc;
  --colors-red-500: #c0392b;
  --colors-red-700: #ff4040;
  --colors-green-700: #1eff00;
  --colors-yellow-500: #ffd100;
}
