.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 63rem;
  height: 100vh;
  margin: 0 auto;
}

.header,
.footer,
.main {
  padding: 16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
