.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 320px));
  margin-top: 0.5rem;
  gap: 0.5rem;
  justify-content: space-between;

  @media screen and (max-width: 1007px) {
    justify-content: center;
    padding: 1rem 0;
    background-color: #101010;
    border-radius: 0.375rem;
  }
}
