@import "shared/styles/import.scss";

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 320px));
  gap: 0.5rem;
  justify-content: space-between;
  animation: fade-in 0.15s ease;

  @media screen and (max-width: 1007px) {
    justify-content: center;
    padding: 1rem 0;
    background-color: var(--colors-neutral-100);
    border-radius: 0.375rem;
  }
}
