@import "shared/styles/import.scss";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(4 4 35 / 85%);
  z-index: 10;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem rgba($color: #000, $alpha: 25%);
  border: 1px solid #676767;
  font-size: 0.75rem;
  max-width: 20rem;
  animation: fade-in 0.15s ease;
}

.title {
  margin: 0;
  font-size: 0.875rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.rank {
  color: #9d9d9d;
  font-size: 0.875rem;
}

.type {
  color: #9d9d9d;
}

.desc {
  color: #ffd100;
  margin: 0;
}

.row {
  display: flex;
}

.left,
.right {
  &::first-letter {
    text-transform: capitalize;
  }
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.tip {
  margin-top: 0.5rem;
}

.action {
  color: #1eff00;
  display: block;
}

.error {
  color: #ff4040;
  display: block;
}
