.wrapper {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111;
  padding: 1rem 2rem;
  box-shadow: inset 0 0 30px 10px #000;
}

.table {
  border-collapse: separate;
  border-spacing: 0.75em;
}

.cell {
  position: relative;
  min-width: 50px;
}
