.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  overflow: hidden;
}

.tree {
  flex-grow: 1;
  height: auto;
  padding: 1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111;
  box-shadow: inset 0 0 30px 10px #000;
}

.table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0.75em;
}

.cell {
  position: relative;
  min-width: 50px;
}
